/* contact section */

.contact-center {
    background-color: rgb(255, 232, 22);
    display: flex;
    width: 100%;
    height: 250px;
}

.contact-center .coding-profiles {
    width: 25%;
    background-color: black;
}


.contact-center .coding-profiles p {
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: snow;
}

.contact-center .coding-profiles ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

.contact-center .coding-profiles ul li a img {
    height: 60px;
    padding: 8px;
    transition: all 1s ease;
}

.contact-center .coding-profiles ul li a img:hover {
    transform: translateY(-10px);
    background: rgba(250, 250, 250, 0.7);
}

.contact-center .vertical-line {
    height: 94%;
    justify-content: center;
    align-items: center;
    width: 1px;
    background-color: white;
    padding: 1px;
    margin: 8px 0;
}


.contact-center .education-history {
    width: 35%;
    padding: 10px;
}


.contact-center .education-history p {
    padding: 4px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px white;
}

.contact-center .education-history ul {
    list-style-type: upper-roman;
}

.contact-center .education-history ul li {
    font-size: 11px;
    padding: 4px;
}

.contact-center .education-history ul li span {
    color: brown;
    font-size: 14px;
    font-weight: 600;
}


.contact-center .address {
    width: 40%;
    margin: auto;
    padding: 8px 20px;
}

.contact-center .address h2 {
    text-align: center;
    font-size: 36px;
}

.contact-center .address i {
    padding: 20px 10px 10px 10px;
    font-size: 50px;
    color: green;
}

.contact-center .address p {
    font-size: 14px;
    padding: 6px 20px;
    background: rgba(0,0,0, 0.5);
    color:honeydew;
}

@media screen and (max-width: 1124px) {
    .contact-center .education-history {
        width: 40%;
    }
    .contact-center .address {
        width: 35%;
    }
}

@media screen and (max-width: 916px) {
    .contact-center .coding-profiles {
        width: 30%;
    }
    .contact-center .education-history {
        width: 40%;
        padding: 0;
    }
    .contact-center .address {
        width: 30%;
    }
    .contact-center .address i {
        font-size: 40px;
        padding-top: 8px;
    }
}

@media screen and (max-width: 764px) {
    .contact-center {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        height: 100%;
    }
    .contact-center .coding-profiles {
        width: 100%;
    }
    .contact-center .coding-profiles ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-center .education-history {
        width: 100%;
    }
    .contact-center .address {
        width: 100%;
    }
    .contact-center .address h2 {
        font-size: 20px;
        background-color: rgba(0,0,0, 0.5);
        color: white;
    }
    .contact-center .address div {
        display: flex;
    }
    .contact-center .address div i {
        flex-grow: 2;
    }
    .contact-center .address div p {
        flex-grow: 8;
    }
}
