/* works section */

.works-center .work {
    width: 60%;
    height: 250px;
    margin: 40px auto;
    box-sizing: border-box;
    box-shadow: 20px 10px 10px #4b2f2f;
    display: flex;
    flex-wrap: wrap;
}

.works-center .work .work-image {
    width: 50%;
    height: 100%;
}

.works-center .work .work-image img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.works-center .work .work-description {
    background-color: darkslategray;
    width: 50%;
    height: 100%;
}

.works-center .work .work-description h3 {
    background-color: teal;
    padding: 4px 6px;
    overflow: auto;
    font-size: 16px;
    color: whitesmoke;
}

.works-center .work .work-description p {
    padding: 4px;
    overflow: auto;
    font-size: 16px;
    color: whitesmoke;
    height: 70%;
}

.works-center .work .work-description p span {
    color: lightskyblue;
    font-size: 16px;
}

@media screen and (max-width: 1068px) {
    .works-center .work {
        transform: translateX(-20px);
        width: 65%;
    }
}

@media screen and (max-width: 922px) {
    .works-center .work {
        transform: translateX(-20px);
        width: 68%;
        height: 200px;
    }
    .works-center .work .work-description p {
        height: 60%;
    }
}

@media screen and (max-width: 722px) {
    .works-center .work {
        width: 75%;
    }
}

@media screen and (max-width: 614px) {
    .works-center .work {
        display: block;
        width: 60%;
        height: auto;
    }
    .works-center .work .work-description {
        width: 100%;
        height: 220px;
    }
    .works-center .work .work-image {
        width: 100%;
        height: 220px;
    }
}

@media screen and (max-width: 485px) {
    .works-center .work .work-description {
        height: 200px;
    }
    .works-center .work .work-image {
        height: 160px;
    }
}

.works-center .work .work-description a {
    background: rgba(0, 255, 213, 0.884);
    width: 100%;
    display: block;
    color: darkslategray;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.works-center .work .work-description a:hover, .works-center .work .work-description a:active {
    background: rgba(50, 168, 149, 0.849);
    color: white;
}