* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.section-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 26px 0px 16px 0px;
    text-shadow: 2px 2px 5px yellowgreen;
    padding: 26px 0px;
}

.faka-shada-line {
    opacity: 0;
    margin: 0;
    padding: 0;
}


.copyright {
    background-color: black;
    color:blanchedalmond;
    text-align: center;
    font-size: 16px;
    margin-top: 1px;
    line-height: 2;
}